@import 'base.scss';

.table {
    border-bottom: 1px solid #3D3E40;
    border-top: 1px solid #3D3E40;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 439px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row.first {
    padding-top: 8px;
}

.cell {
    align-items: center;
    display: flex;
}

.label {
    padding: 5px 5px 5px 0;
    width: 216px;
}

.value {
    padding: 5px 0 5px 5px;
    width: 213px;
}

label {
    font-size: 16px;
    font-weight: 500;
}

.save,
.status {
    display: flex;
    justify-content: right;
}

.links-container {
    margin-left: 20px;
}

.links-container a {
    color: white;
    display: block;
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 10px;
}